<div style="padding: 10px">
  <input [(ngModel)]="count" placeholder="Field count..."/>
  <button (click)="generateColumns()">Generate fields</button>
  <button (click)="remove()">Remove fields</button>
</div>
<div style="padding: 10px">
  <!--<b>Field Count:</b> {{columns.length}}<br/>-->
</div>
<div style="padding: 10px">
  <button (click)="loadData()">Load data</button>
  <button (click)="saveData()">Save data</button>
  <button (click)="removeData()">Remove data</button>
  <p [hidden]="!isLoading">Loading...</p>
  <p [hidden]="!isSaving">Saving...</p>
</div>
<div style="padding: 10px">
  <hot-table
    height="295"
    fixedColumnsLeft="1"
    startRows="5"
    colWidths="100"
    [settings]="settings"
    [data]="data">
  </hot-table>
</div>
